@use '@angular/material' as mat;
@use "./theme-colors" as theme;
@use "sass:map";
@use "sass:list";

$font_weights: (400, 600, 700);

@each $space in $font_weights {
    @font-face {
        font-family: "WorkSans";
        src: url("/fonts/static/WorkSans-#{$space}.ttf") format("truetype");
        font-weight: #{$space};
        font-style: normal;
    }
}

@supports (font-variation-settings: normal) {
    @font-face {
        font-family: 'WorkSans';
        src: url('/fonts/dynamic/WorkSans-VariableFont_wght.ttf') format('truetype-variations');
        font-weight: 100 900;
        font-display: swap;
    }
}

$colors: (
    "white": hsl(0, 100%, 100%),
    "purple-100": hsl(275, 100%, 97%),
    "purple-600": hsl(292, 16%, 49%),
    "purple-950": hsl(292, 42%, 14%)
);

@each $name, $value in $colors {
    .bg-#{$name} {
        background-color: $value !important;
    }
    .text-#{$name} {
        color: $value !important;
    }
    .border-#{$name} {
        border-color: $value;
    }
}

$spacing_sizes: ();
@for $i from 0 through 48 {
    $spacing_sizes: list.append($spacing_sizes, #{$i}px);
}

$utilities: (
    'p': "padding",
    'pt': "padding-top",
    'pr': "padding-right",
    'pb': "padding-bottom",
    'pl': "padding-left",
    'm': "margin",
    'mt': "margin-top",
    'mr': "margin-right",
    'mb': "margin-bottom",
    'ml': "margin-left",
    'fs': "font-size",
    'br': "border-radius",
    'h': "height",
    'gap': "gap"
);

@mixin generate-utilities($utilities, $values) {
    @each $abbr, $property in $utilities {
        @each $value in $values {
            .#{$abbr}-#{$value} {
                #{$property}: $value;
            }
        }
    }
}

@include generate-utilities($utilities, $spacing_sizes);

html {
    font-family: "WorkSans";
    @include mat.theme((
        color: (
            primary: theme.$primary-palette,
            tertiary: theme.$tertiary-palette
        ),
        typography: "WorkSans",
    ));
}

html, body { min-height: 100%; }
body { margin: 0; font-family: "WorkSans" }
h1 { font-size: 44px; }