@import "tailwindcss";

@theme inline {
    --color-orange-500: hsl(25, 97%, 53%);
    --color-grey-200: hsl(217, 12%, 68%);
    --color-grey-500: hsl(217, 12%, 63%);
    --color-grey-900: hsl(213, 19%, 18%);
    --color-grey-920: hsl(213, 19%, 14%);
    --color-grey-950: hsl(216, 12%, 8%);
}

@font-face {
    font-family: "Overpass";
    src: url("/fonts/Overpass-400.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Overpass";
    src: url("/fonts/Overpass-700.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@layer base {
    h1 {
        font-size: var(--text-2xl);
    }
    h2 {
        font-size: var(--text-lg);
    }
}

body {
    background: var(--color-grey-950);
    font-family: "Overpass";
    color: white;
}

.spinner {
    @apply w-16 h-16 border-4 border-white border-solid border-r-transparent rounded-full animate-spin;
}

.bg-gradiant {
    @apply bg-gradient-to-b from-grey-900 to-grey-920;
}