@import "tailwindcss";

@theme {
    --color-custom-red: hsl(0, 78%, 62%);
    --color-custom-cyan: hsl(180, 62%, 55%);
    --color-custom-orange: hslhsl(34, 97%, 64%);
    --color-custom-blue: hsl(212, 86%, 64%);
    --color-gray-500: hsl(234, 12%, 34%);
    --color-gray-400: hsl(212, 6%, 44%);
    --color-white: hsl(0, 0%, 100%);
}

@font-face {
    font-family: 'poppins';
    src: url('/fonts/Poppins-Extralight.ttf') format('truetype');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'poppins';
    src: url('/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'poppins';
    src: url('/fonts/Poppins-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
}

* {
    font-family: poppins;
}