@base-font: Outfit;
@gutter: 40px;
@radius: 0.75rem;
@colors: {
    white: hsl(0, 0%, 100%);
    stone100: hsl(30, 54%, 90%);
    stone150: hsl(30, 18%, 87%);
    stone600: hsl(30, 10%, 34%);
    stone900: hsl(24, 5%, 18%);
    brown800: hsl(14, 45%, 36%);
    rose800: hsl(332, 51%, 32%);
    rose50: hsl(330, 100%, 98%);
};

@gutter-third: calc(@gutter / 3);
@gutter-half: calc(@gutter / 2);
@gutter-quarter: calc(@gutter / 4);

@outfit-font-weights: 100, 200, 300, 400, 500, 600, 700, 800, 900;
each(@outfit-font-weights, {
    @font-name: "Outfit-@{value}";
    @font-face {
        font-family: "Outfit";
        src: url("../assets/fonts/outfit/static/@{font-name}.ttf") format("truetype");
        font-weight: @value;
        font-style: normal;
    }
});
@supports (font-variation-settings: normal) {
    @font-face {
        font-family: 'Outfit';
        src: url("../assets/fonts/outfit/variable/Outfit-VariableFont_wght.ttf") format("truetype-variations");
        font-weight: 100 900;
        font-display: swap;
        font-style: normal;
    }
}

@font-face {
    font-family: 'Young-serif';
    src: url("../assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Outfit;
    background-color: @colors[stone100];
    color: @colors[stone900];
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    div:first-child {
        margin-top: 8%;
        margin-bottom: 8%;
        border-radius: calc(2 * @radius);
        background-color: @colors[white];
        min-height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: @gutter;
        width: min(clamp(500px, 47vw, 1000px), 100%);
    }
    div:nth-child(2) {
        display: none;
    }
}

header {
    img {
        width: 100%;
        border-radius: @radius;
    }
}

p, td, li { font-size: 16px; }
summary { font-size: 22px; }
h1, h2, h3, h4, h5, h6 { font-family: Young-serif !important; }

.details-style() {
    margin-top: calc(@gutter * 2 / 3);
    background-color: @colors[rose50];
    padding: calc(@gutter * 2 / 3);
    border-radius: @radius;
    pointer-events: none;
    summary {
        list-style: none;
        font-weight: 700;
        color: @colors[rose800];
    }
    ul {
        margin-left: @gutter-third;
        padding-left: @gutter-third;
        li {
            margin-top: @gutter-quarter;
            list-style-position: outside;
            padding-left: @gutter-half;
        }
        li::marker {
            color: @colors[rose800];
        }
    }
}

details {
    .details-style();
}

section {
    h2 { color: @colors[brown800]; }
    ol, ul {
        margin-left: @gutter-third;
        padding-left: @gutter-third;
        margin-top: @gutter-third;
        li {
            margin-top: @gutter-quarter;
            list-style-position: outside;
            padding-left: @gutter-half;
        }
    }
    ol li::marker, ul li::marker {
        color: @colors[brown800];
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    tr:not(:first-child) {
        td {
            border-top: 1px solid @colors[stone150];
        }
    }
    tr {
        td:nth-child(2) {
            color: @colors[brown800];
        }
        td {
            padding: calc(@gutter / 2) calc(@gutter);
        }
    }
}

hr {
    border: none;
    border-top: 1px solid @colors[stone150];
    margin: calc(@gutter / 3 * 2) 0px;
}

.loader {
    min-height: initial !important;
    border: 6px solid @colors[brown800];
    border-top: 6px solid @colors[white];
    border-radius: 50% !important;
    width: 30px !important;
    height: 30px !important;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (max-width: 576px) {
    body {
        div:first-child {
            overflow: hidden;
            margin-top: 0;
            margin-bottom: 0;
            border-radius: 0;
        }
    }
    header {
        img {
            transform: scale(1.35);
            transform-origin: center bottom;
            border-radius: 0;
        }
    }
}