@if (!loading()) {
  <qa-layout>
    <div class="flex" card-title>
      <img src="/images/icon-star.svg" alt="star" width="30" />
      <h1 class="ml-20px text-purple-950">FAQs</h1>
    </div>
    @for (faq of faqs(); track faq.key) {
      <div card-content>
        <accordion [header]="faq.key" [description]="faq.value" [index]="$index"></accordion>
        @if ($index < $count - 1) {
          <hr class="devider" />
        }
      </div>
    }
  </qa-layout>
}
@else {
  <div class="loader m-center" card-content></div>
}