<mat-expansion-panel
  [expanded]="isOpen()"
  hideToggle
  class="bg-white">
  <mat-expansion-panel-header (click)="toggle()">
    <mat-panel-title> {{ header() }} </mat-panel-title>
    <ng-container matExpansionPanelIndicator>
      @if (!isOpen()) {
        <img src="/images/icon-plus.svg" width="26" height="26" alt="open" />
      }
      @else {
        <img src="/images/icon-minus.svg" width="26" height="26" alt="close" loading="lazy" />
      }
    </ng-container>
  </mat-expansion-panel-header>
  <p class="text-purple-600 fw-300 mt-0px">{{ description() }}</p>
</mat-expansion-panel>