<mat-expansion-panel
  [expanded]="isOpen()"
  (opened)="toggle()"
  hideToggle
  class="bg-white">
  <mat-expansion-panel-header>
    <mat-panel-title> {{ header() }} </mat-panel-title>
    <ng-container matExpansionPanelIndicator>
      @if (!isOpen()) {
        <img src="/images/icon-plus.svg" width="20" height="20" alt="open" />
      }
      @else {
        <img src="/images/icon-minus.svg" width="20" height="20" alt="close" />
      }
    </ng-container>
  </mat-expansion-panel-header>
  <p>{{ description() }}</p>
</mat-expansion-panel>