:root {
    --theme-color: #f4d04e;
    --min-font: 1.5rem;
    --preferred-font: 1.5vw;
    --max-font: 2.5rem;
}

@font-face {
    font-family: 'figtree';
    src: url('/frontend-mentor/2.blogPreview/fonts/static/Figtree-Medium.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'figtree';
    src: url('/frontend-mentor/2.blogPreview/fonts/static/Figtree-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-display: swap;
}

@supports (font-variation-settings: normal) {
    @font-face {
        font-family: 'figtree';
        src: url('/frontend-mentor/2.blogPreview/fonts/variable/Figtree-VariableFont_wght.ttf') format('truetype-variations');
        font-weight: 100 900;
        font-display: swap;
    }
}

* {
    font-family: figtree;
}

.fs-dynamic {
    font-size: clamp(var(--min-font, 1rem), var(--preferred-font, 2.5vw), var(--max-font, 2rem));
}

.fs-small {
    --min-font: 0.9rem;
    --preferred-font: 1.2vw;
    --max-font: 1rem;
}

.fs-large {
    --min-font: 1.45rem;
    --preferred-font: 1.8vw;
    --max-font: 1.65rem;
}